In [10]:
import pandas as pd 

# df = pd.read_csv(r'G:\My Drive\0. Day ben ngoai (___)\Day Cole\Khoa ML for invesment - Thanhdt (11.2023)\Buổi 2. Python basic\data.csv') # File hay load tu DB hay load tu API san
df = pd.read_csv('data/data.csv')
df

,Datetime,Open,High,Low,Close,Volume,SMA,short_ema,long_ema,MACD,Signal_Line,Buy_Signal,Sell_Signal
0,2023-09-05,89100.0,90700.0,89100.0,90100.0,2013202,NaN,90100.000000,90100.000000,0.000000,0.000000,False,False
1,2023-09-06,90200.0,90200.0,89700.0,90200.0,2057603,NaN,90115.384615,90107.407407,7.977208,1.595442,False,False
2,2023-09-07,90000.0,90800.0,89500.0,89500.0,1958302,NaN,90020.710059,90062.414266,-41.704207,-7.064488,False,False
3,2023-09-08,89500.0,89500.0,89100.0,89500.0,1381905,NaN,89940.600819,90020.753950,-80.153131,-21.682217,False,False
4,2023-09-11,89600.0,90000.0,88000.0,88500.0,2592500,NaN,89718.969924,89908.105509,-189.135585,-55.172890,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,2023-12-20,81200.0,81300.0,80500.0,81100.0,2014300,84510.0,83235.492267,84495.439681,-1259.947415,-835.252482,False,True
76,2023-12-21,81000.0,81000.0,80300.0,80900.0,2148400,84220.0,82876.185764,84229.110816,-1352.925052,-938.786996,False,True
77,2023-12-22,80900.0,81100.0,80400.0,80900.0,1721800,83990.0,82572.157185,83982.510015,-1410.352830,-1033.100163,False,True
78,2023-12-25,80900.0,81800.0,80700.0,81800.0,1480000,83780.0,82453.363772,83820.842606,-1367.478834,-1099.975897,False,True
79,2023-12-26,82000.0,82800.0,82000.0,82800.0,1113200,83630.0,82506.692422,83745.224636,-1238.532213,-1127.687160,False,True

In [4]:
df.head(10)

,Datetime,Open,High,Low,Close,Volume,SMA,short_ema,long_ema,MACD,Signal_Line,Buy_Signal,Sell_Signal
0,2023-09-05,89100.0,90700.0,89100.0,90100.0,2013202,NaN,90100.000000,90100.000000,0.000000,0.000000,False,False
1,2023-09-06,90200.0,90200.0,89700.0,90200.0,2057603,NaN,90115.384615,90107.407407,7.977208,1.595442,False,False
2,2023-09-07,90000.0,90800.0,89500.0,89500.0,1958302,NaN,90020.710059,90062.414266,-41.704207,-7.064488,False,False
3,2023-09-08,89500.0,89500.0,89100.0,89500.0,1381905,NaN,89940.600819,90020.753950,-80.153131,-21.682217,False,False
4,2023-09-11,89600.0,90000.0,88000.0,88500.0,2592500,NaN,89718.969924,89908.105509,-189.135585,-55.172890,False,False
5,2023-09-12,89000.0,90000.0,88900.0,89900.0,1612100,NaN,89746.820705,89907.505101,-160.684396,-76.275192,False,False
6,2023-09-13,90000.0,90000.0,88900.0,89100.0,1675000,NaN,89647.309827,89847.689909,-200.380081,-101.096170,False,False
7,2023-09-14,89000.0,89500.0,88100.0,89100.0,1552600,NaN,89563.108315,89792.305471,-229.197156,-126.716367,False,False
8,2023-09-15,88900.0,89800.0,88600.0,89800.0,2235400,NaN,89599.553190,89792.875436,-193.322246,-140.037543,False,False
9,2023-09-18,89500.0,89700.0,88300.0,88800.0,789102,NaN,89476.545007,89719.329107,-242.784101,-160.586854,False,False

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Datetime     80 non-null     object
 1   Open         80 non-null     float64
 2   High         80 non-null     float64
 3   Low          80 non-null     float64
 4   Close        80 non-null     float64
 5   Volume       80 non-null     int64
 6   SMA          61 non-null     float64
 7   short_ema    80 non-null     float64
 8   long_ema     80 non-null     float64
 9   MACD         80 non-null     float64
 10  Signal_Line  80 non-null     float64
 11  Buy_Signal   80 non-null     bool
 12  Sell_Signal  80 non-null     bool
dtypes: bool(2), float64(9), int64(1), object(1)
memory usage: 7.2+ KB

In [4]:
df.describe()

,Open,High,Low,Close,Volume,SMA,short_ema,long_ema,MACD,Signal_Line
count,80.000000,80.000000,80.000000,80.000000,8.000000e+01,61.000000,80.000000,80.000000,80.000000,80.000000
mean,86233.750000,86810.000000,85417.500000,86250.000000,1.409296e+06,86353.442623,86772.039896,87242.933651,-470.893755,-414.509397
std,2269.218555,2317.823073,2239.731844,2293.579371,6.960302e+05,1058.150722,1843.758097,1613.355204,458.313479,368.215794
min,80900.000000,81000.000000,80100.000000,80900.000000,4.884000e+05,83630.000000,82453.363772,83745.224636,-1410.352830,-1127.687160
25%,85075.000000,85875.000000,84100.000000,85000.000000,9.199500e+05,85815.000000,85726.262033,86266.785419,-809.066550,-795.123811
50%,86000.000000,86550.000000,85450.000000,86000.000000,1.211152e+06,86565.000000,86490.547484,86964.604672,-450.742340,-371.947612
75%,88000.000000,89000.000000,86725.000000,88000.000000,1.700200e+06,86990.000000,87821.540532,88539.726321,-169.151541,-98.820478
max,90200.000000,90800.000000,89700.000000,90200.000000,4.172800e+06,88650.000000,90115.384615,90107.407407,542.505068,160.516250

In [11]:
df['Volume'] # Cot Volume

0     2013202
1     2057603
2     1958302
3     1381905
4     2592500
       ...
75    2014300
76    2148400
77    1721800
78    1480000
79    1113200
Name: Volume, Length: 80, dtype: int64

In [12]:
df.iloc[4] # Hang index 4

Datetime         2023-09-11
Open                89600.0
High                90000.0
Low                 88000.0
Close               88500.0
Volume              2592500
SMA                     NaN
short_ema      89718.969924
long_ema       89908.105509
MACD            -189.135585
Signal_Line       -55.17289
Buy_Signal            False
Sell_Signal           False
Name: 4, dtype: object

In [6]:
df['Cot 14'] = 14

df

,Datetime,Open,High,Low,Close,Volume,SMA,short_ema,long_ema,MACD,Signal_Line,Buy_Signal,Sell_Signal,Cot 14
0,2023-09-05,89100.0,90700.0,89100.0,90100.0,2013202,NaN,90100.000000,90100.000000,0.000000,0.000000,False,False,14
1,2023-09-06,90200.0,90200.0,89700.0,90200.0,2057603,NaN,90115.384615,90107.407407,7.977208,1.595442,False,False,14
2,2023-09-07,90000.0,90800.0,89500.0,89500.0,1958302,NaN,90020.710059,90062.414266,-41.704207,-7.064488,False,False,14
3,2023-09-08,89500.0,89500.0,89100.0,89500.0,1381905,NaN,89940.600819,90020.753950,-80.153131,-21.682217,False,False,14
4,2023-09-11,89600.0,90000.0,88000.0,88500.0,2592500,NaN,89718.969924,89908.105509,-189.135585,-55.172890,False,False,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,2023-12-20,81200.0,81300.0,80500.0,81100.0,2014300,84510.0,83235.492267,84495.439681,-1259.947415,-835.252482,False,True,14
76,2023-12-21,81000.0,81000.0,80300.0,80900.0,2148400,84220.0,82876.185764,84229.110816,-1352.925052,-938.786996,False,True,14
77,2023-12-22,80900.0,81100.0,80400.0,80900.0,1721800,83990.0,82572.157185,83982.510015,-1410.352830,-1033.100163,False,True,14
78,2023-12-25,80900.0,81800.0,80700.0,81800.0,1480000,83780.0,82453.363772,83820.842606,-1367.478834,-1099.975897,False,True,14
79,2023-12-26,82000.0,82800.0,82000.0,82800.0,1113200,83630.0,82506.692422,83745.224636,-1238.532213,-1127.687160,False,True,14